<div class="global-container">
  {% if page.header %}
      {{ page.header }}
  {% endif %}
  {% if page.navbar %}
      {{ page.navbar }}
  {% endif %}
  {# {% if page.sidebar %}
      {{ page.sidebar }}
  {% endif %} #}
  {% if page.content %}
      {{ page.content }}
  {% endif %}
  {% if page.footer %}
      {{ page.footer }}
  {% endif %}
</div>
